@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON STYLES */
.bgColor {
    background-color: #1E1E1E;
}
.accentColor {
    background-color: #646cff;
}
.secondaryAccentColor {
    background-color: #3e76ff;
}
.secondTextColor {
    color: #929294
}
.textColor {
    color: #ffffff;
}
.highlightColor {
    color: #ffb700;
}
.gradientColor {
    color: #b865e2;
}
.mainWrapper {
    background-color: #1E1E1E;
    min-height: 100vh;
}
.contentWrapper {
    border: #BBE1FA solid 1px;
    background-color: #0F4C75;
    min-width: "98%";
    min-height: calc(100vh -100px);
}
.mainText {
    font-size: 1.4em;
    font-weight: 700;
    color: #BBE1FA;
    text-align: center;
}
