@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON STYLES */
.bgColor {
    background-color: #1E1E1E;
}
.accentColor {
    background-color: #646cff;
}
.secondaryAccentColor {
    background-color: #3e76ff;
}
.secondTextColor {
    color: #929294
}
.textColor {
    color: #ffffff;
}
.highlightColor {
    color: #ffb700;
}
.gradientColor {
    color: #b865e2;
}
.mainWrapper {
    background-color: #1E1E1E;
    min-height: 100vh;
}
.contentWrapper {
    border: #BBE1FA solid 1px;
    background-color: #0F4C75;
    min-width: "98%";
    min-height: calc(100vh -100px);
}
.titleText {
    font-size: 1.7em;
    font-weight: 600;
    color: #BBE1FA;
    text-wrap: balance;
    background: radial-gradient(circle 600px at 30% -180%,#BD34FE 0%,#ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 4px rgba(255,255,255,.1),0 0 14px rgba(130,168,236,.2);
    text-align: center;
}
.cardBg {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(39, 40, 41, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.cardDropShadow {
    box-shadow: inset 0 0 12px 12px red, inset 0 0 3px 2px white;
}
.iconShadow {
    filter: drop-shadow(0px 1px 3px #33a7cd);
}
.iconShadow2 {
    filter: drop-shadow(0px 1px 3px #9b7a16);
}
.iconShadow3 {
    filter: drop-shadow(0px 1px 3px #421ff2);
}
.iconShadow4 {
    filter: drop-shadow(0px 1px 3px #18669e);
}
.iconShadow5 {
    filter: drop-shadow(0px 1px 3px #015120);
}